<%- include('partials/header') %>
<main>
  <h1>
    <%= title %>
  </h1>
  <h2>Service Project Categories</h2>
  <ul class="categories-list">
    <% categories.forEach(category => { %>
    <li><%= category.name %></li>
    <% }); %>
  </ul>
</main>
<%- include('partials/footer') %>
